<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JsonValidator.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JsonValidator.App.Properties.Settings>
            <setting name="Json_AllowTrailingCommas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Json_AllowComments" serializeAs="String">
                <value>False</value>
            </setting>
        </JsonValidator.App.Properties.Settings>
    </userSettings>
</configuration>